---
to: '{{ form.email }}'
delay: 0
enabled: true
trigger_condition: true
from: salonEverywhere@example.com
reply_to: no-reply@example.com
subject: 'Welcome to SalonEverywhere!'
layout: mailer
---
<h1>Thank you for taking this screening test. {{ form.first_name }}!</h1>

<p>Please click this link to start. </p>